*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.fix{
    clear: both;
    overflow: hidden;
}
.section-padding{
    padding: 50px 0;
}
.wrapper{
    width: 1170px;
    margin: 0 auto;
}
.header{
    overflow: hidden;
    height: 100vh;
}
.vid-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100%;
    min-width: 100%;
}
.nav-area{
    position: absolute;
    background : rebeccapurple;
    height: 60px;
    width: 100%;
}
.logo{
    margin: 10px 50px;
    height: 60px;
    float: left;
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
}
.menu-area {
    float: right;
    list-style: none;
    margin: 20px;
}
.menu-area li{
    display: inline-block;
    margin: 0 5px;
}
    .menu-area li a{
        text-decoration: none;
        color: #fff;
        padding: 5px 10px;
        letter-spacing: 2px;
    }
 .menu-area li.active a{
     color: tomato;
 }
 .menu-area li a:hover{
     color: tomato;
 }
.welcome-text{
    position: absolute;
    top: 300%;
    text-align: center;
    left: 13%;
}
.welcome-text h2{
    color: white;
    font-size: 60px;
    margin: 0;
    text-align: center;
}
.welcome-text p{
    color: white;
    font-size: 18px;
}
.btn{
    background: tomato;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 25px;
    display: inline-block;
    margin-top: 25px;
}




































